<h1>My name is <%= @neopet.name %></h1>

<img src="http://www.gamasutra.com/db_area/images/news/2017/Oct/308142/year-3_brucey-b.gif" alt="">

<table>

  <tr>
    <td><strong>Happiness</strong></td>
    <td><%= @neopet.happiness %></td>
  </tr>
  <tr>
    <td><strong>Hunger Level</strong></td>
    <td><%= @neopet.hunger_level %></td>
  </tr>

</table>

<%= link_to 'Play a song for your neopet', neopet_song_path(@neopet) %>


<h2>
  <% if flash.now[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

</h2>
